{% extends 'index.html' %}
{% load static %}
{% block content %}

  <main id="main" class="main">

   
    <section class="section">
      <div class="row">
        

        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Create KYC</h5>
              {% if messages %}
                <p class="messagelist" style="font-weight: bold;border-radius: 10px;background-color: #ffffff;font-size: 18px;color: rgb(63, 163, 50);">{% for message in messages %}{{ message }}{% endfor %}</p>
                {% endif %}
              <!-- Vertical Form -->
              <form class="row g-3" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-12">
                  <label for="inputNanme4" class="form-label">User List</label>
                  {% comment %} <input type="text" class="form-control" id="inputNanme4" name="registeruser"> {% endcomment %}
                  <select name="registeruser" id="inputAddress" class="form-control">
                    <option type"hidden">------------</option>
                    {% for user in users %}
                    <option value="{{ user.id }}">{{user.full_name}}</option>
                    {% endfor %}                    
                  </select>    
                </div>
                <div class="col-12">
                  <label for="inputEmail4" class="form-label">Address</label>
                  <input type="text" class="form-control" id="inputEmail4" name="address">
                </div>
                <div class="col-12">
                  <label for="inputPassword4" class="form-label">Mobile</label>
                  <input type="text" class="form-control" id="inputPassword4" name="mobile">
                </div>
                <div class="col-12">
                  <label for="inputAddress" class="form-label">Full name</label>
                  <input type="text" class="form-control" id="inputPassword4" name="fullname">
                </div>
                <div class="col-12">
                  <label for="inputPassword4" class="form-label">Email</label>
                  <input type="text" class="form-control" name="email" id="inputPassword4">
                </div>
                <div class="col-12">
                  <label for="inputPassword4" class="form-label">Aadhar no</label>
                  <input type="text" class="form-control" name="aadharno" id="inputPassword4">
                </div>
                <div class="col-12">
                  <label for="inputPassword4" class="form-label">Aadhar Front image</label>
                  <input class="form-control" type="file" name="aadharfrontimg" id="fileToUpload" required>
                </div>
                <div class="col-12">
                  <label for="inputPassword4" class="form-label">Aadhar Back image</label>
                  <input class="form-control" type="file" name="aadharbackimg" id="fileToUpload" required>
                </div>
                <div class="col-12">
                  <label for="inputPassword4" class="form-label">Pan No</label>
                  <input type="text" class="form-control" name="panno" id="inputPassword4">
                </div>
              
                <div class="col-12">
                  <label for="inputPassword4" class="form-label">Pan Image</label>
                  <input class="form-control" type="file" name="panimg" id="fileToUpload" required>
                </div>

                <div class="col-12">
                  <label for="inputAddress" class="form-label">Is Join</label><br>
                  <input type="radio" id="html" name="is_verified" value="1"> True
                  <input type="radio" id="html" name="is_verified" value="0"> False
                </div>


                <div class="text-center">
                  <button type="submit" class="btn btn-primary col-md-12">Create Profile</button>
                  {% comment %} <button type="reset" class="btn btn-secondary">Reset</button> {% endcomment %}
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  {% endblock content %}