{% extends 'index.html' %}
{% load static %}
{% block content %}

  <main id="main" class="main">

   
    <section class="section">
      <div class="row">
        

        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Cash Addd / Withdraw</h5>
              {% if messages %}
                <p class="messagelist" style="font-weight: bold;border-radius: 10px;background-color: #ffffff;font-size: 18px;color: rgb(63, 163, 50);">{% for message in messages %}{{ message }}{% endfor %}</p>
                {% endif %}
              <!-- Vertical Form -->
              <form class="row g-3" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-12">
                  <label for="inputNanme4" class="form-label">User Name</label>
                  {% comment %} <input type="text" class="form-control" id="inputNanme4" name="registeruser"> {% endcomment %}
                  <select name="userwallet" id="inputAddress" class="form-control">
                    <option type"hidden">------------</option>
                    {% for user in users %}
                    <option value="{{ user.id }}">{{user.full_name}}</option>
                    {% endfor %}                    
                  </select>    
                </div>
                <div class="col-12">
                  <label for="inputEmail4" class="form-label">Withdraw Amount</label>
                  <input type="text" class="form-control" id="inputEmail4" name="walletwithdraw">
                </div>
                


                <div class="col-12">
                  <label for="inputAddress" class="form-label">Payment Status</label>
                  <select name="payment_status" id="inputAddress" class="form-control">
                    {% comment %} <option value="{{invite.payment_status}}">{{invite.payment_status}}</option> {% endcomment %}
                    <option value="True">True</option>
                    <option value="False">False</option>
                  </select>
                </div>

                
                  </select> 
                  {% comment %} <input type="radio" id="html" name="is_added" value="1"> Add Cash
                  <input type="radio" id="html" name="is_withdraw" value="0"> Withdraw Cash {% endcomment %}
                </div>


                <div class="text-center">
                  <button type="submit" class="btn btn-primary col-md-12">Add / Withdraw</button>
                  {% comment %} <button type="reset" class="btn btn-secondary">Reset</button> {% endcomment %}
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  {% endblock content %}