{% extends 'index.html' %}
{% load static %}
{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Customer Care Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">General</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body" style="padding:10px">
              {% comment %} <a href="/homepage/createcustomercare/"><button type="submit" class="btn btn-primary col-md-3">New Issues</button></a> {% endcomment %}

              <!-- Default Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Issue</th>
                    <th scope="col">Discription</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for service in Custmercare %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ service.user.full_name }}</td>
                    <td>{{ service.issue.message }}</td>
                    <td>{{ service.discription }}</td>
                    <td>{{ service.status }}</td>
                    <td style="text-align: center;"><a class="btn btn-success" style="border-radius:50%;" href="{% url 'update_service' id=service.id %}"> <i class="fa fa-pencil" style="font-size: 14px;"> </i> </a>
                      <a class="btn btn-danger" style="border-radius:50%;" href="{% url 'del_service' id=service.id %}"><i class="fa fa-trash-o" style="font-size: 14px;"></i></a></td>
                  </tr>
                  {% endfor %}
                 
                </tbody>
              </table>
              <!-- End Default Table Example -->
            </div>
          </div>

         

        </div>

        
      </div>
    </section>

  </main><!-- End #main -->

  {% endblock content %}